
    .reviews-section {
      text-align: left;
    }

    .review-item {
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }